@model OrderVM

<h2>
    Количка
</h2>

<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <form asp-action="Create">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container order-items-container">

                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-5">
                            Продукт
                        </div>
                        <div class="col-md-1">
                            Цена
                        </div>
                        <div class="col-md-1">
                            Брой
                        </div>
                        <div class="col-md-1">
                            Общо
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>

                    @{
                        int index = -1;
                    }
                    @foreach (var orderItem in Model.OrderItems)
                    {
                        index++;
                        <div class="row order-item-row">

                            <input type="hidden" class="product-id" name="OrderItems[@index].ProductId" value="@orderItem.ProductId" />
                            <input type="hidden" name="OrderItems[@index].Description" value="@orderItem.Description" />
                            <input type="hidden" name="OrderItems[@index].ImageUrl" value="@orderItem.ImageUrl" />

                            <div class="col-md-1">
                                <img src="@orderItem.ImageUrl" style="height: 70px; width: 70px;" />
                            </div>

                            <div class="col-md-5">
                                @orderItem.Name
                                <input type="hidden" name="OrderItems[@index].Name" value="@orderItem.Name" />
                            </div>

                            <div class="col-md-1">
                                @orderItem.Price лв.
                                <input type="hidden" name="OrderItems[@index].Price" value="@orderItem.Price" />
                            </div>

                            <div class="col-md-1">
                                <input name="OrderItems[@index].Quantity" value="@orderItem.Quantity" required class="form-control" />
                            </div>

                            <div class="col-md-1">
                                @(orderItem.Price * orderItem.Quantity) лв.
                            </div>

                            <div class="col-md-1">
                                <button type="button" class="btn btn-danger remove-order-item">
                                    Премахни
                                </button>
                            </div>

                        </div>
                    }
                </div>

                <dl class="dl-horizontal col-md-offset-7">
                    <dt>
                        Обща сума:
                    </dt>
                    <dd>
                        @(Model.OrderItems.Select(p => p.Quantity * p.Price).Sum()) лв.
                    </dd>
                </dl>

                @* Delivery Data *@
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                Данни за доставка
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" asp-for="Names" value="" required placeholder="Име и фамилия" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" asp-for="PhoneNumber" required placeholder="Телефон" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                Адрес за доставка
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" asp-for="Address" required placeholder="Адрес" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" asp-for="City" required placeholder="Град / Село" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                Допълнителна информация
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" name="MoreInformation" placeholder="Полето не е задължително" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>
                                Фактура
                            </label>
                            <input type="checkbox" class="checkbox-inline checkbox-company-info" value="off" />
                        </div>
                    </div>
                    <div class="company-info" style="display: none;">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="form-control company-name" name="CompanyName" value="@Model.CompanyName" placeholder="Име на фирма" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="form-control company-eik" name="CompanyEIK" value="@Model.CompanyEIK" placeholder="ЕИК Булстат" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Поръчай" class="btn btn-success submit-order" />
                    </div>
                </div>
                @* END Delivery Data END *@
            </form>

            @if (!User.Identity.IsAuthenticated)
            {
                @Html.Partial("LoginPartial")

                @Html.Partial("RegisterPartial")
            }
        </div>
    </div>
</div>

@section Scripts{
    <!-- Select2 -->
    <script src="~/vendors/select2/dist/js/select2.min.js"></script>

    <script>
        
        getAvaiableProductNames().then((data) => {
            let products = $(".product-name");
            for (let product of products) {
                initiateSelect2($(product), data, 'Име на продукт');
            }

            let productIds = $(".product-id");
            for (let id of productIds) {
                $(id).select2({ data: data });
            }
        });

        function initiateSelect2(jqElement, data, placeholder = '') {
            jqElement.select2({
                data: data,
                placeholder: placeholder,

                // new item stuff
                tags: true,
                createTag: function (params) {
                    return {
                        id: params.term,
                        text: params.term,
                        newOption: true
                    }
                },
                templateResult: function (data) {
                    let $result = $("<span></span>");

                    $result.text(data.text);

                    if (data.newOption) {
                        $result.append(" <em>(създай)</em>");
                    }

                    return $result;
                }
            });
        }

        $(".product-name").on("change", (event) => {
            var id = $(event.target).select2('data')[0].id;
            let $productIdHidden = $(event.target).parent().children(".product-id");
            $productIdHidden.val(id);
        });

        $(".remove-order-item").on("click", (event) => {
            let $productIdHidden = $(event.target).parent().parent().children(".product-id").val();
            $(event.target).parent().parent().html("");
            $.post("RemoveItemFromBasket", { productId: $productIdHidden });
        });
        

        var $companyInfo = $(".company-info");
        var $companyIngfoCheckbox = $(".checkbox-company-info");
        $companyIngfoCheckbox.on("change", () => {
            if ($companyIngfoCheckbox.val() == "off") {
                $companyIngfoCheckbox.val("on");
                $companyInfo.show();
            } else {
                $companyIngfoCheckbox.val("off");
                $companyInfo.hide();
            }
        });

        var $companyName = $(".company-name");
        var $companyEik = $(".company-eik");
        var $btnSubmitOrder = $(".submit-order").on("click", () => {
            if ($companyName.val() == "" || $companyIngfoCheckbox.val() == "off") {
                $companyName.val("NULL");
            }

            if ($companyEik.val() == "" || $companyIngfoCheckbox.val() == "off") {
                $companyEik.val("NULL");
            }
        });
    </script>
}