@model OrderVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table>
            <tr class="row">
                <th class="col-md-1">
                </th>
                <th class="col-md-5">
                    Продукт
                </th>
                <th class="col-md-1">
                    Цена
                </th>
                <th class="col-md-1">
                    Брой
                </th>
                <th class="col-md-1">
                    Общо
                </th>
                <th class="col-md-1">
                   
                </th>
            </tr>

            @foreach (var product in Model.Products)
            {
                <tr class="row">
                    <td class="col-md-1">
                        <img src="@product.ImageUrl" style="height: 70px; width: 70px;"/>
                    </td>
                    <td class="col-md-5">
                        @product.Name
                    </td>
                    <td class="col-md-1">
                        @product.Price лв.
                    </td>
                    <td class="col-md-1">
                        @product.Quantity
                    </td>
                    <td class="col-md-1">
                        @(product.Price * product.Quantity) лв.
                    </td>
                    <td class="col-md-1">
                        <button class="btn btn-danger remove-order-item">
                            Премахни
                        </button>
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <dl class="dl-horizontal col-md-offset-9">
                <dt>
                    Обща сума: 
                </dt>
                <dd>
                    @{
                        var sum = Model.Products.Select(p => p.Quantity * p.Price).Sum();
                    }
                    @sum
                </dd>
            </dl>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

