@model OrderVM

@{
    ViewData["Title"] = "Details";
}

<h2>
    Преглед поръчка
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">        
        <dt>
            <label>
                Поръчка номер
            </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            <label>
                Регистрирана на
            </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            <label>
                Обща сума
            </label>
        </dt>
        <dd>
            @(Model.OrderItems.Select(p => p.Quantity * p.Price).Sum()) лв.
        </dd>
        <dt>
            <label>
                Статус
            </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <div>
        <label>
            Доставка
        </label>
        <dl class="dl-horizontal">
            <dt>
                Имена
            </dt>
            <dd>
                @Model.Names
            </dd>
            <dt>
                Телефон
            </dt>
            <dd>
                @Model.PhoneNumber
            </dd>
            <dt>
                Адрес
            </dt>
            <dd>
                @Model.Address @Model.City
            </dd>
        </dl>
    </div>
    <div>
        <label>
            Фактура
        </label>
        <dl class="dl-horizontal">
            <dt>
                Фирма
            </dt>
            <dd>
                @Model.CompanyName
            </dd>
            <dt>
                ЕИК Бустат
            </dt>
            <dd>
                @Model.CompanyEIK
            </dd>
        </dl>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderItem in Model.OrderItems)
        {
            <tr>
                <td>
                    @orderItem.Id
                </td>
                <td>
                    @orderItem.Name
                </td>
                <td>
                    @orderItem.Description
                </td>
                <td>
                    @orderItem.Quantity
                </td>
                <td>
                    @orderItem.Price
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Назад към списъка</a>
</div>
