@model OrderVM

<h2>
    Редактирай поръчка № @Model.Id
</h2>

<div class="row">
    <div class="col-md-12">
        <form asp-area="" asp-controller="Orders" asp-action="Edit">
            <div class="form-horizontal">
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <br />
                <label>
                    Информация
                </label>
                <dl class="dl-horizontal">
                    <dt>
                        <label>
                            Регистрирана на
                        </label>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>
                    <dt>
                        <label>
                            Променена на
                        </label>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Updated)
                    </dd>
                    <dt>
                        <label>
                            Обща сума
                        </label>
                    </dt>
                    <dd>
                        @(Model.OrderItems.Select(p => p.Quantity * p.Price).Sum()) лв.
                    </dd>
                    <dt>
                        <label>
                            Статус
                        </label>
                    </dt>
                    <dd>
                        <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<OrderStatus>()"></select>
                    </dd>
                </dl>
                <label>
                    Доставка
                </label>
                <dl class="dl-horizontal">
                    <dt>
                        Имена
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.Names, new { @class = "form-control" })
                    </dd>
                    <dt>
                        Телефон
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                    </dd>
                    <dt>
                        Адрес
                    </dt>
                    <dd class="">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    </dd>
                    <dt>
                        Град / Село
                    </dt>
                    <dd class="">
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                    </dd>
                </dl>
                <label>
                    Фактура
                </label>
                <dl class="dl-horizontal">
                    <dt>
                        Фирма
                    </dt>
                    <dd>
                        @{
                            var companyName = Model.CompanyName == "NULL" ? "" : Model.CompanyName;
                        }
                        <input type="text" class="form-control" value="@companyName" name="CompanyName" />
                    </dd>
                    <dt>
                        ЕИК Бустат
                    </dt>
                    <dd>
                        @{
                            var companyEik = Model.CompanyEIK == "NULL" ? "" : Model.CompanyEIK;
                        }
                        <input type="text" class="form-control" value="@companyName" name="CompanyEIK" />
                    </dd>
                </dl>

                <label>
                    Продукти
                </label>
                <div class="container order-items-container">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-5">
                            Продукт
                        </div>
                        <div class="col-md-1">
                            Цена
                        </div>
                        <div class="col-md-1">
                            Брой
                        </div>
                        <div class="col-md-1">
                            Общо
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>

                    <input asp-for="Id" type="hidden" />
                    <script>window.ORDERITEMS = [];</script>
                    @foreach (var orderItem in Model.OrderItems)
                    {
                        <script>
                            window.ORDERITEMS.push({
                                    "productId": @Html.Raw(orderItem.ProductId),
                                    "name": "@Html.Raw(orderItem.Name)",
                                    "quantity": @Html.Raw(orderItem.Quantity),
                                    "price": @Html.Raw(orderItem.Price),
                                    "total": @Html.Raw(orderItem.Quantity * orderItem.Price),
                                    "image": "@Html.Raw(orderItem.ImageUrl)"
                            });
                        </script>

                        @*<div class="row order-item-row">
                                <input type="hidden" class="product-id" value="" />
                                <div class="col-md-1">
                                    <img src="@orderItem.ImageUrl" style="height: 70px; width: 70px;" />
                                </div>
                                <div class="col-md-5">
                                    <select name="OrderItems[0].Name" class="order-item-name"></select>
                                </div>
                                <div class="col-md-1">
                                    @orderItem.Price лв.
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="@orderItem.Quantity" class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    @(orderItem.Price * orderItem.Quantity) лв.
                                </div>
                                <div class="col-md-1">
                                    <input type="hidden" value="@orderItem.ProductId" class="product-id" />
                                    <button type="button" class="btn btn-danger remove-order-item">
                                        Премахни
                                    </button>
                                </div>
                            </div>*@
                    }
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-9 col-md-1">
                        <input type="submit" value="Запази" class="btn btn-default save-changes" />
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-new-order-item col-md-offset-5">
                        <span class="glyphicon glyphicon-plus"></span>
                        Нов продукт
                    </button>
                </div>
                <br />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад към списъка</a>
</div>

@* add new orderItem row *@
<div class="row add-new-order-item" style="display: none;">
    <input name="OrderItems[0].Id" type="hidden" class="order-item-id" value="" />
    <input name="OrderItems[0].ProductId" type="hidden" class="product-id" value="" />
    <div class="col-md-1">
        <img src="~/imgs/no_pic.jpg" style="height: 70px; width: 70px;" />
    </div>
    <div class="col-md-5">
        <select name="OrderItems[0].Name" class="order-item-name"></select>
    </div>
    <div class="col-md-1">
        <label name="OrderItems[0].Price" class="order-item-price">
        </label>
    </div>
    <div class="col-md-1">
        <input name="OrderItems[0].Quantity" value="1" class="order-item-quantity form-control" />
    </div>
    <div class="col-md-1">
        <label class="order-item-total">
        </label>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-danger remove-order-item">
            Премахни
        </button>
    </div>
    <br />
    <br />
</div>

@section Scripts{
    <!-- Select2 -->
    <script src="~/vendors/select2/dist/js/select2.min.js"></script>

    <script>

        document.AVAIABLE_PRODUCTS = [];
        function getAvaiableProductNames() {
            let promise = new Promise((resolve, reject) => {
                if (document.AVAIABLE_PRODUCTS && document.AVAIABLE_PRODUCTS.length > 0) {
                    resolve(document.AVAIABLE_PRODUCTS);
                }
                let url = "/../Products/AvaiableProducts";
                $.get(url, function (data, status) {
                    document.AVAIABLE_PRODUCTS = data;
                    resolve(document.AVAIABLE_PRODUCTS);
                });
            });

            return promise;
        }

        function initiateSelect2(jqElement, data, placeholder = '') {
            jqElement.select2({
                width: '100%',
                data: data,
                placeholder: placeholder,

                // new item stuff
                tags: true,
                createTag: function (params) {
                    return {
                        id: params.term,
                        text: params.term,
                        newOption: true
                    }
                },
                templateResult: function (data) {
                    let $result = $("<span></span>");

                    $result.text(data.text);

                    if (data.newOption) {
                        $result.append(" <em>(създай)</em>");
                    }

                    return $result;
                }
            });
        }

        function addOrderItemRow(productId, name, quantity, price, total, image) {
            let $row = $('.add-new-order-item').first().clone();
            $row.removeClass('add-new-order-item');
            $row.addClass('order-item-row');

            $row.find(".remove-order-item").on("click", (e) => {
                $(e.currentTarget).parent().parent().remove();
            });

            //TODO
            getAvaiableProductNames().then((data) => {
                let orderItemName = $row.find('.order-item-name');
                initiateSelect2(orderItemName, data);
                if (name) {
                    $(orderItemName).val(name).trigger('change');
                    console.log($(orderItemName).val());
                }
            });

            if (productId) $row.find('.product-id').val(productId);

            if (quantity) $row.find('.order-item-quantity').val(quantity);

            if (price) $row.find('.order-item-price').html(price);

            if (total) $row.find('.order-item-total').html(total);

            if (image) $row.find('img').attr("src", image);

            $row.appendTo('.order-items-container').first();
            $row.toggle();
        }

        function changeIndeces() {
            $.each($(".order-item-row"), (index, row) => {
                let pattern = /[\d+]/g;
                let $row = $(row);

                let $productId = $row.find('.product-id');
                let $orderItemId = $row.find('.order-item-id');
                let $orderItemName = $row.find('.order-item-name');
                let $orderItemPrice = $row.find('.order-item-price');
                let $orderItemQuantity = $row.find('.order-item-quantity');

                let $productIdVal = $productId.attr('name');
                $productId.attr('name', $productIdVal.replace(pattern, index));

                let $orderItemNameVal = $orderItemName.attr('name');
                $orderItemName.attr('name', $orderItemNameVal.replace(pattern, index));

                let $orderItemIdVal = $orderItemId.attr('name');
                $orderItemId.attr('name', $orderItemIdVal.replace(pattern, index));

                let $orderItemPriceVal = $orderItemPrice.attr('name');
                $orderItemPrice.attr('name', $orderItemPriceVal.replace(pattern, index));

                let $orderItemQuantityVal = $orderItemQuantity.attr('name');
                $orderItemQuantity.attr('name', $orderItemQuantityVal.replace(pattern, index));
            });
        }

        $(".order-item-name").on("change", (event) => {
            var id = $(event.target).select2('data')[0].id;
            let $productIdHidden = $(event.target).parent().children(".product-id");
            $productIdHidden.val(id);
        });

        $(".remove-order-item").on("click", (event) => {
            let $productIdHidden = $(event.target).parent().children(".product-id").val();
            $(event.target).parent().parent().html("");
            $.post("RemoveItemFromBasket", { productId: $productIdHidden });
        });

        $(".btn-new-order-item").on("click", () => {
            addOrderItemRow();
        });

        $(".save-changes").on("click", () => {
            changeIndeces();
        });

        var $companyInfo = $(".company-info");
        var $companyIngfoCheckbox = $(".checkbox-company-info");
        $companyIngfoCheckbox.on("change", () => {
            if ($companyIngfoCheckbox.val() == "off") {
                $companyIngfoCheckbox.val("on");
                $companyInfo.show();
            } else {
                $companyIngfoCheckbox.val("off");
                $companyInfo.hide();
            }
        });

        var $companyName = $(".company-name");
        var $companyEik = $(".company-eik");
        var $btnSubmitOrder = $(".submit-order").on("click", () => {
            if ($companyName.val() == "" || $companyIngfoCheckbox.val() == "off") {
                $companyName.val("NULL");
            }

            if ($companyEik.val() == "" || $companyIngfoCheckbox.val() == "off") {
                $companyEik.val("NULL");
            }
        });

        // initialize orderItems
        if (ORDERITEMS && ORDERITEMS.length > 0) {
            for (let ord of ORDERITEMS) {
                addOrderItemRow(ord.productId, ord.name, ord.quantity, ord.price, ord.total, ord.image);
            }
        } else {
            addProductRow();
        }
    </script>
}
