@model IEnumerable<OrderVM>

@{
    ViewData["Title"] = "Index";
}

<br />

<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">
                Номер на поръчката
            </th>
            <th class="col-md-2">
                Дата на поръчка
            </th>
            <th class="col-md-1">
                Статус
            </th>
            <th class="col-md-3">
                Имена
            </th>
            <th class="col-md-3">
                Адрес на доставка
            </th>
            <th class="col-md-1">
                Обща цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="" onclick="window.document.location='/../Orders/Details/@item.Id';" onmouseover="" style="cursor: pointer;">
                <td class="col-md-1">
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(model => item.Created)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(model => item.Names)
                </td>
                <td class="col-md-3">
                    @(item.City + " " + item.Address)
                </td>
                <td class="col-md-1">
                    @(item.OrderItems.Select(p => p.Quantity * p.Price).Sum()) лв.
                </td>
            </tr>
        }
    </tbody>
</table>
