@model CompatibleProductsVM

@{
    ViewData["Title"] = Model.Category.Name;
}

<h2>@Model.Category.Name</h2>

<h4>@Model.Car.ToString()</h4>

<hr />

<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5" 
                 style="height: 300px; text-align: center;">
                <div style="align-content: center;">
                    <a asp-controller="Products" asp-action="Details" asp-route-productId="@product.Id" asp-route-carId="@Model.Car.Id">
                        @if (string.IsNullOrEmpty(product.ImageUrl))
                        {
                            <img src="~/imgs/no_pic.jpg" style="height: 175px; align-self: center;" />
                        }
                        else
                        {
                            <img src="@product.ImageUrl" style="height: 175px; align-self: center;" />
                        }
                    </a>
                </div>
                <br />
                <a asp-controller="Products" asp-action="Details" asp-route-productId="@product.Id" asp-route-carId="@Model.Car.Id">
                    <span>
                        @Html.DisplayFor(model => product.Name)
                    </span>
                </a>
                <br />
                <label>
                    @Html.DisplayFor(model => product.Price) лв.
                </label>
            </div>
        }
    </div>
</div>