@model ProductDetailsVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Html.DisplayFor(m => m.Category.Name)
    за
    @Model.Car.ToString()
</h1>

<h2>
    @Html.DisplayFor(m => m.Name)
</h2>

<div class="container-fluid">
    <div class="col-md-2 picture-container">
        <img src="/images/no_pic.jpg" style="height: 225px; align-self: center;" />
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                Продукт:
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Name)
            </dd>
            <dt>
                Автомобил:
            </dt>
            <dd>
                @Html.Display(Model.Car.ToString())
            </dd>
            <dt>
                Категория:
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Category.ParentName)
                <span> > </span>
                <a asp-controller="Products" asp-action="CompatibleProducts" asp-route-categoryId="@Model.Category.Id" asp-route-carId="@Model.Car.Id">
                    @Html.DisplayFor(m => m.Category.Name)
                </a>
            </dd>
            <dt>
                Цена:
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Price) лева (с ддс)
            </dd>
        </dl>
    </div>
</div>

<br />
<div class="row">
    @Html.Partial("MakeOrderPartial", Model)

    @Html.Partial("LoginPartial")

    @Html.Partial("RegisterPartial")


</div>

@section Scripts{
    <script>
        var $companyInfo = $(".company-info");
        var $companyIngfoCheckbox = $(".checkbox-company-info");
        $companyIngfoCheckbox.on("change", () => {
            if ($companyIngfoCheckbox.val() == "off") {
                $companyIngfoCheckbox.val("on");
                $companyInfo.show();
            } else {
                $companyIngfoCheckbox.val("off");
                $companyInfo.hide();
            }
        });

        var $companyName = $(".company-name");
        var $companyEik = $(".company-eik");
        var $btnSubmitOrder = $(".submit-order").on("click", () => { 
            if ($companyName.val() == "" || $companyIngfoCheckbox.val() == "off") {
                $companyName.val("NULL");
            }

            if ($companyEik.val() == "" || $companyIngfoCheckbox.val() == "off") {
                $companyEik.val("NULL");
            }
        });
    </script>
}
